body
	position: relative
	font-family: $roboto
	font-size: 16px
	font-weight: 400
	line-height: 1.56
	min-width: 320px
	color: $black
	background-color: $white

.title
	font-size: 38px
	color: $blue
	text-align: center
	font-weight: 400
	+sm
		font-size: 24px
	&_lg
		font-size: 48px
		line-height: 1.11
		+sm
			font-size: 32px
	&_sm
		font-size: 32px
	&_xs
		font-size: 20px
		line-height: 2.5
		letter-spacing: -0.8px
	&_white
		color: $white
	&_dark
		color: $dark

.view-button
	display: flex
	align-items: center
	height: 50px
	font-size: 14px
	text-transform: uppercase
	+sm
		height: 30px
	+hover
		.icon
			transform: translateX(5px)
	.icon
		position: relative
		margin-left: 15px
		font-size: 9px
		transition: transform .3s ease-in-out
	&_blue
		color: $blue

.submit-button
	position: relative
	border-radius: 4px
	font-size: 14px
	height: 50px
	color: $white
	padding: 15px 46px
	text-transform: uppercase
	z-index: 1 
	overflow: hidden
	+hover
		&:before
			opacity: 0
		&:after	
			opacity: 1
	&:before,
	&:after
		position: absolute
		content: ""
		top: 0
		left: 0
		height: 100%
		width: 100% 
		z-index: -1
		transition: opacity .3s
	&:before
		background-image: linear-gradient(258deg, #18baeb, #0074e4)
	&:after
		background-image: linear-gradient(-258deg, #18baeb, #0074e4)
		opacity: 0
