<footer class="footer">
    <div class="footer__inner inner inner_lg">
        <div class="footer__copyright">
            &copy; 2018-2019 Dibss Solutions
        </div>
        <div class="footer__social">
            <ul class="social">
                {% for item in [
                    {
                        icon: 'skype',
                        href: 'skype:DibssSolutions?add'
                    },
                    {
                        icon: 'telegram',
                        href: 'https://telegram.me/DibssSolutions'
                    }
                ] %}
                    <li class="social__item">
                        <a target="_blank" href="{{ item.href }}" class="social__link social__link_{{ item.icon }}">
                            {{ mixins.icon(item.icon) }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>