<header class="header">
    <div class="header__inner">
        <div class="header__left">
            <h1 class="header__logo logo">
                <a href="#">{{ mixins.icon('DibssSolutions_logo') }}</a>
            </h1>
            <nav class="header__menu">
                <ul class="main-menu">
                    {% for item in [
                        'Solutions',
                        'About us',
                        'Clients',
                        'News & Events',
                        'Contact us'
                    ] %}
                        <li class="main-menu__item">
                            <a href="#" class="main-menu__link">
                                {{ item }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
        <div class="header__right">
            <div class="language">
                <div class="language__current">{{ mixins.icon('earth') }}en</div>
                <div class="language__arrow">
                    {{ mixins.icon('chevron-down') }}
                </div>
                <ul class="language__list">
                    {# <li class="language__item active"><a href="#" class="language__link">en</a></li> #}
                    <li class="language__item"><a href="#" class="language__link">ru</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
