<section class="how-work" id="how-work">
    <div class="how-work__inner inner">
        <h2 class="how-work__title title"
            data-anim-type="staged" data-anim-delay="0" data-anim-duration="0.6">Technologies we use</h2>
        <div class="how-work__tabs tabs" data-tabs>
            <div class="tabs__out">
                <ul class="tabs__list">
                    {% for item in [
                        {
                            id: 'html',
                            icon: 'html',
                            text: 'html'
                        },
                        {
                            id: 'css',
                            icon: 'css',
                            text: 'css'
                        },
                        {
                            id: 'javascript',
                            icon: 'javascript',
                            text: 'javascript'
                        },
                        {
                            id: 'animation',
                            icon: 'animation',
                            text: 'animation'
                        },
                        {
                            id: 'tools',
                            icon: 'github',
                            text: 'tools'
                        }
                    ] %}
                        <li class="tabs__item" data-tabs-control="{{ item.id }}"
                            data-anim-type="staged" data-anim-delay="{{loop.index * 0.2}}" data-anim-duration="0.6">
                            {% if loop.index == 4 %}
                            <span class="tabs__icon tabs__icon_pacman" style="background-image: url(./img/pacman-def.svg);">
                                <svg xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.0" width="28px" height="28px" viewBox="0 0 128 128" xml:space="preserve">
                                    <g>
                                        <path fill="#89969f" d="M64,0a64,64,0,0,1,64,64H0A64,64,0,0,1,64,0Z"/>
                                        <animateTransform attributeName="transform" type="rotate" values="0 64 64;-40 64 64;0 64 64" dur="500ms" repeatCount="indefinite"></animateTransform>
                                    </g>
                                    <g>
                                        <path fill="#89969f" d="M64,128A64,64,0,0,1,0,64H128A64,64,0,0,1,64,128Z"/>
                                        <animateTransform attributeName="transform" type="rotate" values="0 64 64;40 64 64;0 64 64" dur="500ms" repeatCount="indefinite"></animateTransform>
                                    </g>
                                </svg>
                            </span>
                            {% else %}
                            <span class="tabs__icon">
                                {{ mixins.icon( item.icon ) }}
                            </span>
                            {% endif %}
                            {{ item.text }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="tabs__wrapper" data-tabs-wrapper>
                <div class="tabs__container" data-tabs-container="html">
                    <div class="tabs__text">
                        <p data-anim-type="staged" data-anim-delay="0.2" data-anim-duration="0.6">
                            We use nunjucks as a template processor to speed up the HTML code writing process and then support that code in the easiest and fastest way possible. To ensure your project’s scalability, we use the component-based approach described in the BEM methodology.
                        </p>
                    </div>
                    <div class="tabs__images"
                         data-anim-type="staged" data-anim-delay="0.4 " data-anim-duration="0.6">
                        <div class="tabs__img"><img src="./img/nunjucks.png" alt="nunjucks" title="nunjucks"></div>
                        <div class="tabs__img"><img src="./img/pug.png" alt="pug" title="pug"></div>
                        <div class="tabs__img"><img src="./img/swig.jpg" alt="swig" title="swig"></div>
                        <div class="tabs__img" title="Twig">Twig</div>
                    </div>
                </div>
                <div class="tabs__container" data-tabs-container="css">
                    <div class="tabs__text">
                        <p data-anim-type="staged" data-anim-delay="0.2" data-anim-duration="0.6">
                            We make use of the Sass preprocessor for the CSS code. It allows using functions unavailable in CSS. For instance, variables, nesting, mixins, inheritance, and other awesome stuff. Yet in the end, you always get the CSS code that is fast to run and easy to work with.
                        </p>
                    </div>
                    <div class="tabs__images"
                         data-anim-type="staged" data-anim-delay="0.4 " data-anim-duration="0.6">
                        <div class="tabs__img"><img src="./img/sass.png" alt="sass" title="sass"></div>
                        <div class="tabs__img"><img src="./img/stylus.png" alt="stylus" title="stylus"></div>
                        <div class="tabs__img"><img src="./img/less.png" alt="less" title="less"></div>
                    </div>
                </div>
                <div class="tabs__container" data-tabs-container="javascript">
                    <div class="tabs__text">
                        <p data-anim-type="staged" data-anim-delay="0.2" data-anim-duration="0.6">
                            Usually, we adhere to jQuery, with vanilla being our second option. We also take advantage of the module-based approach to write components but can also take advantage of additional patterns in case of more complicated tasks.
                        </p>
                    </div>
                    <div class="tabs__images"
                         data-anim-type="staged" data-anim-delay="0.4 " data-anim-duration="0.6">
                        <div class="tabs__img"><img src="./img/jq-vs-js.svg" alt="jq-vs-js" title="jq vs js"></div>
                        <div class="tabs__img"><img src="./img/es6.png" alt="es6" title="es6"></div>
                        <div class="tabs__img"><img src="./img/babel.png" alt="babel" title="babel"></div>
                    </div>
                </div>
                <div class="tabs__container" data-tabs-container="animation">
                    <div class="tabs__text">
                        <p data-anim-type="staged" data-anim-delay="0.2" data-anim-duration="0.6">
                            Having a wide experience in animation implementation, we know all the ins and outs of browser rendering to achieve from 40 to 60 frames per seconds (depending on your requirements and expectations).
                        </p>
                    </div>
                    <div class="tabs__images"
                         data-anim-type="staged" data-anim-delay="0.4 " data-anim-duration="0.6">
                        <div class="tabs__img tabs__img_w100"><img src="./img/canvas.png" alt="canvas" title="canvas"></div>
                        <div class="tabs__img"><img src="./img/svg.jpg" alt="svg" title="svg"></div>
                        <div class="tabs__img"><img src="./img/greensock.svg" alt="greensock" title="greensock"></div>
                        <div class="tabs__img tabs__img_w100"><img src="./img/animejs.png" alt="animejs" title="animejs"></div>
                        <div class="tabs__img"><img src="./img/scrollmagic.png" alt="scrollmagic" title="scrollmagic"></div>
                    </div>
                </div>
                <div class="tabs__container" data-tabs-container="tools">
                    <div class="tabs__text">
                        <p data-anim-type="staged" data-anim-delay="0.2" data-anim-duration="0.6">
                            We use the gulp/webpack bundle to make the build process comfortable. Version control is done with git. Naturally, we’re used to all modern web design tools: Photoshop, Sketch, Zeplin, Avocode and more.
                        </p>
                    </div>
                    <div class="tabs__images"
                         data-anim-type="staged" data-anim-delay="0.4 " data-anim-duration="0.6">
                        <div class="tabs__img"><img src="./img/git.png" alt="git" title="git"></div>
                        <div class="tabs__img"><img src="./img/gulp.png" alt="gulp" title="gulp"></div>
                        <div class="tabs__img"><img src="./img/webpack.svg" alt="webpack" title="webpack"></div>
                        <div class="tabs__img"><img src="./img/sketch.jpeg" alt="sketch" title="sketch"></div>
                        <div class="tabs__img"><img src="./img/photoshop.jpeg" alt="photoshop" title="photoshop"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
