<section class="main">
  <div class="main__inner inner">
    <div class="main__wrapper">
      <div class="main__left">
        <div class="main__content">
          <h3 class="main__subtitle title title_xs title_white"
              data-anim-type="staged" data-anim-delay="0" data-anim-duration="0.8">- What we do</h3>
          <h2 class="main__title title title_lg title_white"
              data-anim-type="staged" data-anim-delay="0.2" data-anim-duration="0.8">FRONT-END DEVELOPMENT</h2>
          <p class="main__text"
             data-anim-type="wave" data-anim-delay="0.3" data-anim-duration="0.75">
            We offer the best front-end development services for your digital agency and startups. Our team uses the
            latest technologies such as HTML, CSS, JS
          </p>
          <div class="main__content-icon svg-triangle">
            {{ mixins.icon('triangle') }}
          </div>
          <div class="main__content-icon_blurred svg-triangle svg-triangle_blurred">
            {{ mixins.icon('triangle') }}
          </div>
        </div>
      </div>
      <div class="main__right">
        <div class="main__content-icon main__content-icon_sm svg-triangle">
          {{ mixins.icon('triangle') }}
        </div>
        <div class="main__content-icon main__content-icon_xs svg-triangle svg-triangle_blurred">
          {{ mixins.icon('triangle') }}
        </div>
        <div class="main__img">
          <img src="./img/laptop.png" alt="laptop">
        </div>
      </div>
    </div>
  </div>
</section>
