<section class="main" id="hero">
  <div class="main__inner inner">
    <div class="main__wrapper">
      <div class="main__left">
        <div class="main__content">
          <h2 class="main__title title title_lg title_white"
              data-anim-type="staged" data-anim-delay="0.5" data-anim-duration="0.5">Команда FRONT-END разработчиков</h2>
          <p class="main__text"
             data-anim-type="wave" data-anim-delay="0.8" data-anim-duration="0.5">Мы предоставляем лучшие решения по верстке веб сайтов, реализации клиентских скриптов и анимаций для веб-агентств и компаний.</p>
          <div class="main__content-icon svg-triangle js-parallax-item">
            {{ mixins.icon('triangle') }}
          </div>
          <div class="main__content-icon_blurred svg-triangle svg-triangle_blurred js-parallax-item-reverse">
            {{ mixins.icon('triangle') }}
          </div>
        </div>
      </div>
      <div class="main__right">
        <div class="main__content-icon main__content-icon_sm svg-triangle js-parallax-item">
          {{ mixins.icon('triangle') }}
        </div>
        <div class="main__content-icon main__content-icon_xs svg-triangle svg-triangle_blurred js-parallax-item-reverse">
          {{ mixins.icon('triangle') }}
        </div>
        <div class="main__img" data-anim-direction="rtl" data-anim-type="staged" data-anim-delay="0.5" data-anim-duration="0.9">
          <img src="./img/laptop.png" alt="laptop">
          <div class="main__video js-video" data-vide-bg="mp4: video/videoplayback" data-vide-options="posterType: jpg, loop: true, playsinline: true"></div>
        </div>
      </div>
    </div>
  </div>
</section>
