.benefits
    padding-top: 80px
    +xs
        padding-top: 20px
    &__title
        margin-bottom: 50px
        &:not(:first-child)
            margin: 50px 0
            +sm
                margin: 30px 0
        +sm
            margin-bottom: 30px
    &__subtitle
        max-width: 520px
        margin: 24px auto 0
        text-align: center
        +xs
            margin-top: 10px
    &__content
        display: flex
        flex-wrap: wrap
    &__item
        width: 50%
        +sm
            width: 100%
        a
            transition: border-color .3s
            border-bottom: 1px solid currentColor 
            +hover
                border-color: transparent 

    &-item
        padding: 40px 20px
        text-align: center
        border-radius: 10px
        display: flex
        flex-direction: column
        transition: box-shadow .3s
        &_nh
            padding: 0 20px 20px
        +sm
            padding: 20px
        &:not(.benefits-item_nh)
            +hover
                box-shadow: 0 4px 15px 0 rgba(7, 42, 68, 0.1)
        &__icon
            flex: 0 0 auto
            display: flex
            align-items: center
            justify-content: center
            img
                display: block
                max-width: 100%
        &__title
            flex: 0 0 auto
            margin-top: 24px
            font-size: 24px
            color: $dark
            +sm
                margin-top: 10px
                font-size: 20px
        &__text
            flex: 0 0 auto
            margin-top: 25px
            letter-spacing: -0.01em 
            color: $darkGray
            .benefits-item_nh &
                margin-top: 15px
            +sm
                margin-top: 10px