.main
	position: relative
	overflow: hidden
	color: $white
	z-index: 1
	background-image: url("../img/code.jpg") 
	background-repeat: no-repeat
	background-size: cover
	background-position: 0 center
	
	&:before
		position: absolute
		content: '' 
		top: 0
		left: 0
		width: 100%
		height: 100%
		opacity: 1
		background-image: linear-gradient(to bottom, #20232d, #151720)
		transition: opacity 0.6s ease-in-out
		.is-loaded &
			opacity: .985 
			transition-delay: 0.9s

	&:after
		content: ""
		position: absolute
		width: 200%
		height: 400px
		left: 0
		top: 100%
		background-color: $white
		transform-origin: 0 0
		transform: rotate(-5deg)

	&__inner
		position: relative
		z-index: 2
		max-width: 1236px 

	&__content
		padding-right: 10px
		position: relative
		font-size: 18px
		max-width: 500px 

		&-icon
			left: -30px
			bottom: -118px
			z-index: 1
			.is-loaded &
				opacity: 1
				transition-delay: 1.6s
				
			&_blurred
				filter: blur(10.2px)
				left: -119px
				bottom: -185px
				z-index: -1
				.is-loaded &
					opacity: 1
					transition-delay: 1.9s

			&_sm.svg-triangle
				left: 5px
				top: -52px
				font-size: 133px
				filter: blur(4.2px)
				bottom: auto
				z-index: 0
				.is-loaded &
					opacity: 0.8
					transition-delay: 1s

			&_xs.svg-triangle
				filter: blur(10.2px)
				font-size: 87px
				left: 67px
				top: -86px
				bottom: auto
				z-index: -1
				.is-loaded &
					opacity: .71
					transition-delay: 1.2s

	&__wrapper
		padding: 100px 0 50px
		height: 100vh
		min-height: 700px
		display: flex
		align-items: center
		+sm
			height: auto
			min-height: auto
			flex-direction: column

	&__left,
	&__right
		width: 50%
		// display: flex
		// align-items: center
		+sm
			width: 100%

	&__right
		position: relative
		align-self: flex-end
		+sm
			align-self: auto
			margin-top: 20px

	&__img
		position: relative
		min-width: 960px
		min-height: 552px
		width: 55vw
		padding-bottom: 31.7vw
		margin-bottom: 6vh
		+lg
			margin-bottom: 0
		+sm
			margin-left: 0
			width: auto
			min-width: 0
			min-height: 0
			padding-bottom: 53vw

		img
			position: absolute
			top: 0
			left: 0
			max-width: 100%
			display: block

	&__video
		z-index: 1
		position: absolute
		top: 6.69%
		bottom: 10.39%
		right: 11.718%
		left: 11.822%

	&__title
		position: relative
		margin: 7px 0 25px
		z-index: 2
		text-align: left
	&__text
		position: relative
		z-index: 2
		font-weight: 300 
		font-size: 16px
		&_bold
			font-weight: 700 
			margin-bottom: 5px

	&__subtitle
		text-align: left

.svg-triangle
	position: absolute
	font-size: 230px
	color: rgba($blue, .22)
	opacity: 0
	transition: opacity 1.2s ease-out

	&_blurred
		color: rgba(7, 42, 68, 0.71)

	.icon
		display: block
