.icon-animation {
  width: 1.73em;
  height: 1em;
  fill: currentColor;
}
.icon-checkmark {
  width: 0.83em;
  height: 1em;
  fill: currentColor;
}
.icon-chevron-down {
  width: 1.62em;
  height: 1em;
  fill: currentColor;
}
.icon-css {
  width: 1.28em;
  height: 1em;
  fill: currentColor;
}
.icon-DibssSolutions_logo {
  width: 3em;
  height: 1em;
  fill: currentColor;
}
.icon-earth {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-email {
  width: 1.53em;
  height: 1em;
  fill: currentColor;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: currentColor;
}
.icon-github {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-html {
  width: 1.82em;
  height: 1em;
  fill: currentColor;
}
.icon-javascript {
  width: 0.91em;
  height: 1em;
  fill: currentColor;
}
.icon-multitask {
  width: 1.18em;
  height: 1em;
  fill: currentColor;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-resources {
  width: 0.88em;
  height: 1em;
  fill: currentColor;
}
.icon-result {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-right-arrow {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-shield {
  width: 0.75em;
  height: 1em;
  fill: currentColor;
}
.icon-skype {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-specialization {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
.icon-telegram {
  width: 1.18em;
  height: 1em;
  fill: currentColor;
}
.icon-triangle {
  width: 0.91em;
  height: 1em;
  fill: currentColor;
}
.icon-twitter {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
